<div class="container">
    <div style="display: flex;">
        <p class="text-blue"
         style="font-size:2.2rem;
            line-height: 2.5rem;
            font-weight: 200;
            padding-bottom: 6.25rem;
            border-bottom: 1px solid #446e96;
            width: 100%;">
           Contact
        </p>
    </div>
    <div style="display: flex; margin-top: 2.5rem;">
        <p class="text-blue">Phone number : <span class="text-grey">089 444 3196</span></p>
    </div>
    <div style="display: flex; margin-top: 1rem;">
        <p class="text-blue">Email : <span class="text-grey">Pakdeepumpi@gmail.com</span></p>
    </div>
    <div style="display: flex; margin-top: 1rem;">
        <p class="text-blue">Address : <span class="text-grey">47 Maelao Chiangrai Thailand 57250</span></p>
    </div>
</div>