<div class="container">
    <div style="display: flex;">
        <p class="text-blue"
         style="font-size:2.2rem;
            line-height: 2.5rem;
            font-weight: 200;
            padding-bottom: 6.25rem;
            border-bottom: 1px solid #446e96;
            width: 100%;">
           General Information
        </p>
    </div>
    <div style="display: flex; margin-top: 2.5rem;">
        <p class="text-blue">FullName : <span class="text-grey">Pakdeepum piboonsombat</span></p>
    </div>
    <div style="display: flex; margin-top: 1rem;">
        <p class="text-blue">Age : <span class="text-grey">23</span></p>
    </div>
    <div style="display: flex; margin-top: 1rem;">
        <p class="text-blue">Date of birth : <span class="text-grey">05 December 1997</span></p>
    </div>
    <div style="display: flex; margin-top: 1rem;">
        <p class="text-blue">Nationality : <span class="text-grey">Thai</span></p>
    </div>
</div>
