<div class="container">
    <div style="display: flex;">
        <p class="text-blue"
         style="font-size:2.2rem;
            line-height: 2.5rem;
            font-weight: 200;
            padding-bottom: 6.25rem;
            border-bottom: 1px solid #446e96;
            width: 100%;">
           Json Api Test
        </p>
    </div>
    <div style="display: flex; margin-top: 2.5rem;">
        <p class="text-blue">Api url : <span class="text-grey">{{url}}</span></p>
    </div>
    <div style="display: flex; margin-top: 1rem;">
        <p class="text-blue">Json string : </p>
        <textarea style="width: 80%; height: 30rem; margin-left: 0.5rem;" disabled value="{{json}}"></textarea>
    </div>
</div>