<div class="sidebar">
    <div class="sidebar-header">
        <p style="margin-bottom:1rem; font-size: 1.8rem;
        line-height: 2rem; font-size: 2.2rem; line-height: 2.5rem;">Pakdeepum</p>
        <p>Piboonsombat</p>
    </div>
    <div class="sidebar-list">
        <div class="sidebar-item">
            <a href="/information">General Information</a>
        </div>
        <div class="sidebar-item">
            <a href="/workexperience">Work Experiences</a>
        </div>
        <div class="sidebar-item">
            <a href="/contact">Contact</a>
        </div>
        <div class="sidebar-item">
            <a href="/apijson">Api json test</a>
        </div>
    </div>
</div>
