<div class="container">
    <div style="display: flex;">
        <p class="text-blue"
         style="font-size:2.2rem;
            line-height: 2.5rem;
            font-weight: 200;
            padding-bottom: 6.25rem;
            border-bottom: 1px solid #446e96;
            width: 100%;">
           Work Experiences
        </p>
    </div>
    <div style="display: flex; margin-top: 2.5rem;">
        <p class="text-grey">jan 2018 - may 2018 <span class="text-blue" style="font-size:1.5rem; font-weight: 400; margin-left: 1rem;">Teacher assistant of Digital Logic Laboratory at CPE Digital Lab.
        Chiang Mai University</span></p>
    </div>
    <div style="display: flex; margin-top: 1rem;">
        <p class="text-grey" style="margin-left: 10.5rem; font-size:1rem; font-weight: 200;">
            Worked as an adviser for students when they wanted some advise and check for thier circuit.
        </p>
    </div>
    <div style="display: flex; margin-top: 2.5rem;">
        <p class="text-grey">aug 2019 - july 2019 <span class="text-blue" style="font-size:1.5rem; font-weight: 400; margin-left: 1rem;">Internship at InnergyLab company</span></p>
    </div>
    <div style="display: flex; margin-top: 1rem;">
        <p class="text-grey" style="margin-left: 10.5rem; font-size:1rem; font-weight: 200;">
            Internship at InnergyLab company.
        </p>
    </div>
    <div style="display: flex; margin-top: 2.5rem;">
        <p class="text-grey">aug 2020 - now 2021 <span class="text-blue" style="font-size:1.5rem; font-weight: 400; margin-left: 1rem;">Full stack Developer at Fissent Technology co. ltd</span></p>
    </div>
    <div style="display: flex; margin-top: 1rem;">
        <p class="text-grey" style="margin-left: 10.5rem; font-size:1rem; font-weight: 200;">
            Work as Full stack Developer at Fissent Technology co. ltd.
        </p>
    </div>
</div>